:root {
  --background: #ededed;
  --font-family: -apple-system, "Inter", BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  --code-font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    --font-size : 12px;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  height: 100%;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

code {
  font-family: var(--code-font-family);
}
